@import "variables"

/*-----------------------------------*/

.content_wrap
  .wrapper
    h2.title
      width: 100%
      height: 60px
      font-size: 2rem
      color: #fff
      background: $col_500
      line-height: 1.75em
      font-weight: 400
      padding-left: 5%
