@import "variables"

/*-----------------------------------*/

header.header
  background-image: url('/images/1.jpg')
  background-size: cover
  background-repeat: no-repeat
  background-position: center
  position: relative

  .title_wrap
    width: 500px
    height: 200px
    color: $col_900
    font-family: 'Marck Script', cursive
    padding 15px
    text-align: center

    h1
      margin: 0
      font-size: 6rem
      text-transform: uppercase

    p
      font-size: 2.25rem

  nav.main_nav
    position: absolute
    bottom: 50px
    height: 60px
    width: 100%
    font-family: 'Marck Script', cursive
    border-bottom: 1px solid $col_200
    border-top: 1px solid $col_200
    background: rgba($col_500, 1)
    background: linear-gradient(90deg, rgba($col_200, 1) 0%, rgba($col_500, 1) 20%, rgba($col_500, 1) 80%, rgba($col_200, 1) 100%)
    background: -webkit-gradient(90deg, rgba($col_200, 1) 0%, rgba($col_500, 1) 20%, rgba($col_500, 1) 80%, rgba($col_200, 1) 100%)
    background: -moz-linear-gradient(90deg, rgba($col_200, 1) 0%, rgba($col_500, 1) 20%, rgba($col_500, 1) 80%, rgba($col_200, 1) 100%)
    overflow: hidden

    .nav_item
      float: left
      font-size: 1.75rem
      text-align: center
      width: 16.6666667%
      vertical-align: middle
      height: 100%


      a
        color: #fff
        text-decoration: none
        display: inline-block
        height: 100%
        width: auto
        line-height: 2.125em
        vertical-align: middle
        border-radius: 30%
        padding: 0 10px
        background-color: rgba(#fff, 0)
        transition: all 0.3s ease 0
        -moz-transition: all 0.3s ease 0
        -webkit-transition: all 0.3s ease 0
        -o-transition: all 0.3s ease 0


        &:hover
          color: rgba(#fff, 0.9)
          /*background-color: rgba($col_500, 0.75)*/
          background-color: rgba(#fff, 0.3)
          font-size: 2.25rem
          border: none
          line-height: 1.675em
          /*box-shadow: 0 0 30px 15px rgba(#fff,0.35), inset 0 0 15px 2px rgba(#fff,0.75);*/
          box-shadow: 0 0 30px 15px rgba(#fff,0.35)
          -moz-box-shadow: 0 0 30px 15px rgba(#fff,0.35)




