@import "variables"

/*-----------------------------------*/


header.header
  background-image: url('/images/1.jpg')
  background-size: 100% auto
  background-repeat: no-repeat
  background-position: center

  .title_wrap
    width: 500px
    height: 200px
    color: $col_900
    font-family: 'Marck Script', cursive
    padding 15px
    text-align: center

    h1
      margin: 0
      font-size: 6rem
      text-transform: uppercase

    p
      font-size: 2.25rem
