@import "variables"
/*-----------------------------------*/
*
  box-sizing: border-box

/*-----------------------------------*/

html, body
  height: auto
  width: 100%
  min-height: 100%
  color: $grey_900
  font-family: 'Roboto', sans-serif
  font-size: 16px

.content
  height: auto
  width: 980px
  margin: 0 auto
  overflow: auto
  min-height: 200px

.container
  width: 100%
  height: 100%
  margin: 0px
  padding: 0px
  min-height: 500px

  header.header
    height: 100vh
    min-height: 500px

  .content_wrap
    height: 100%
    width: 100%
    padding-bottom: $foot_h
    min-height: 500px

    .wrapper
      background-color: $grey_100

footer.footer
  height: $foot_h
  margin-top: -($foot_h)
  background-color: $col_700

.clearfix:after
  content: ''
  clear: both
  width: 100%
  height: 0px