@import "colors"

$themeRed= 'red'
$themePink= 'pink'
$themePurple= 'purple'
$themeDeepPurple= 'deep-purple'
$themeIndigo= 'indigo'
$themeBlue= 'blue'
$themeLightBlue= 'light-blue'
$themeCyan= 'cyan'
$themeTeal= 'teal'
$themeGreen= 'green'
$themeLightGreen= 'light-green'
$themeLime= 'lime'
$themeYellow= 'yellow'
$themeAmber= 'amber'
$themeOrange= 'orange'
$themeDeepOrange= 'deep-orange'
$themeBrown= 'brown'
$themeGrey= 'grey'
$themeBlueGrey= 'blue-grey'

/**
 * http=//www.google.com/design/spec/style/color.html#color-color-palette
 * thanks to https=//github.com/shuhei/material-colors
 */

$theme = $themePurple

$r50 = 'md-' + $theme + '-50'
$r100= 'md-' + $theme + '-100'
$r200= 'md-' + $theme + '-200'
$r300= 'md-' + $theme + '-300'
$r400= 'md-' + $theme + '-400'
$r500= 'md-' + $theme + '-500'
$r600= 'md-' + $theme + '-600'
$r700= 'md-' + $theme + '-700'
$r800= 'md-' + $theme + '-800'
$r900= 'md-' + $theme + '-900'