@import "colors"

/*-------------------------------------------------*/

$foot_h = 300px


/*-------------------------------------------------*/
$themeRed= 'red'
$themePink= 'pink'
$themePurple= 'purple'
$themeDeepPurple= 'deep-purple'
$themeIndigo= 'indigo'
$themeBlue= 'blue'
$themeLightBlue= 'light-blue'
$themeCyan= 'cyan'
$themeTeal= 'teal'
$themeGreen= 'green'
$themeLightGreen= 'light-green'
$themeLime= 'lime'
$themeYellow= 'yellow'
$themeAmber= 'amber'
$themeOrange= 'orange'
$themeDeepOrange= 'deep-orange'
$themeBrown= 'brown'
$themeGrey= 'grey'
$themeBlueGrey= 'blue-grey'

/**
 * http=//www.google.com/design/spec/style/color.html#color-color-palette
 * thanks to https=//github.com/shuhei/material-colors
 */

$color = $themePurple

$col_50  = lookup('md-' + $color + '-50')
$col_100 = lookup('md-' + $color + '-100')
$col_200 = lookup('md-' + $color + '-200')
$col_300 = lookup('md-' + $color + '-300')
$col_400 = lookup('md-' + $color + '-400')
$col_500 = lookup('md-' + $color + '-500')
$col_600 = lookup('md-' + $color + '-600')
$col_700 = lookup('md-' + $color + '-700')
$col_800 = lookup('md-' + $color + '-800')
$col_900 = lookup('md-' + $color + '-900')
$col_a100= lookup('md-' + $color + '-a100')
$col_a200= lookup('md-' + $color + '-a200')
$col_a400= lookup('md-' + $color + '-a400')
$col_a700= lookup('md-' + $color + '-a700')


