.title_wrap
  h1
    | Nissodis
  p
    | Мастер профессионал превратит ваши мечты о краcоте в жизнь

nav.main_nav
  .nav_item(ng-repeat="item in navBar")
    a(href="" ng-bind="item.title" ng-click="goScreen(item.anchor)")
      .line