
header.header(ng-controller="HeaderCtrl")
  .hhh(ng-include="'/views/header.html'" replace)

.content_wrap.clearfix
  #about_wrap.wrapper.about_wrap
    h2.title
      | О бо мне
    .content.clearfix
      | here must be 'about text'
  #depil_wrap.wrapper.depil_wrap
    h2.title
      | Восковая депиляция
    .content.clearfix
      | here must be about depilation text
  #eyelashes_wrap.wrapper.resnici_wrap
    h2.title
      | Наращивание ресниц
    .content.clearfix
      | here must be about growing text
  #tatu_wrap.wrapper.tatu_wrap
    h2.title
      | Перманентный макияж
    .content.clearfix
      | here must be about tatu text
  #piercing_wrap.wrapper.tatu_wrap
    h2.title
      | Пирсинг
    .content.clearfix
      | here must be about piercing text
  #contact_wrap.wrapper.contact_wrap
    h2.title
      | Контакты
    .content.clearfix
      | here must be map and other contact text

