
header#home.header(ng-controller="HeaderCtrl")
  div(ng-include="'/views/header.html'" replace)

.content_wrap.clearfix(ng-controller="ContentCtrl")
  #about.wrapper.about_wrap
    h2.title
      | Обо мне
    .content.clearfix
      p.text
        img.text_img.left(src="images/text_01.jpg")
        span.title Подзаголовок к абзацу.
        span
          |Мир таков, каков он есть. Трудно предположить, чтобы мир был создан единственно для удовлетворения наших потребностей. Это было бы чудом из чудес. Мир нейтрален. Он не дружествен и не враждебен человеку. Вам внушили, что человек рождается для того, чтобы умереть, и что вы должны всю жизнь терзаться этой мыслью. Чего ради? Смерть - не факт сознания. “Смысл раздумий о смерти в том, что они лишены смысла”, - писал Монтерлан. Смерть близких потрясает нас. А наша собственная? Бояться ее - значит представлять себе и мир, где мы есть, и мир, где нас нет. Эти два образа несовместимы.
          |Вам внушили, что мы живем на краю пропасти…, но даже если мы идем по краю пропасти, ничто не толкает нас вниз.
          |Вам внушили, что старые моральные ценности канули в прошлое*. Это ложь… Я напомню вам для начала несколько древних как мир истин…
          |…Нельзя жить для себя. Думая только о себе, человек всегда найдет тысячу причин чувствовать себя несчастным. Никогда он не делал всего того, что хотел и должен был делать, никогда не получал всего того, чего, по его мнению, заслуживал, редко был любим так, как мечтал быть любимым. Без конца пережёвывая свое прошлое, он будет испытывать одни сожаления… Зачеркнуть прошлое все равно невозможно, попытайтесь лучше создать настоящее, которым вы… сможете гордиться. Всякий, кто живет ради других - ради своей страны, ради женщины, ради творчества, ради голодающих или гонимых, - словно по волшебству забывает свою тоску…
      p.text
        img.text_img.right(src="images/text_02.jpg")
        span.title Подзаголовок к абзацу.
        span
          | Мир таков, каков он есть. Трудно предположить, чтобы мир был создан единственно для удовлетворения наших потребностей. Это было бы чудом из чудес. Мир нейтрален. Он не дружествен и не враждебен человеку. Вам внушили, что человек рождается для того, чтобы умереть, и что вы должны всю жизнь терзаться этой мыслью. Чего ради? Смерть - не факт сознания. “Смысл раздумий о смерти в том, что они лишены смысла”, - писал Монтерлан. Смерть близких потрясает нас. А наша собственная? Бояться ее - значит представлять себе и мир, где мы есть, и мир, где нас нет. Эти два образа несовместимы.
          | Вам
      .art_bottom
        .btn(ng-click="goUp()") Вверх

  #depilation.wrapper.depil_wrap
    h2.title
      | Восковая депиляция
    .content.clearfix
      p.text
        img.text_img.left(src="images/text_depil_01.jpg")
        span.title Подзаголовок к абзацу.
        span
          | Мир таков, каков он есть. Трудно предположить, чтобы мир был создан единственно для удовлетворения наших потребностей. Это было бы чудом из чудес. Мир нейтрален. Он не дружествен и не враждебен человеку. Вам внушили, что человек рождается для того, чтобы умереть, и что вы должны всю жизнь терзаться этой мыслью. Чего ради? Смерть - не факт сознания. “Смысл раздумий о смерти в том, что они лишены смысла”, - писал Монтерлан. Смерть близких потрясает нас. А наша собственная? Бояться ее - значит представлять себе и мир, где мы есть, и мир, где нас нет. Эти два образа несовместимы.
          | Вам внушили, что мы живем на краю пропасти…, но даже если мы идем по краю пропасти, ничто не толкает нас вниз.
          | Вам внушили, что старые моральные ценности канули в прошлое*. Это ложь… Я напомню вам для начала несколько древних как мир истин…
          | …Нельзя жить для себя. Думая только о себе, человек всегда найдет тысячу причин чувствовать себя несчастным. Никогда он не делал всего того, что хотел и должен был делать, никогда не получал всего того, чего, по его мнению, заслуживал, редко был любим так, как мечтал быть любимым. Без конца пережёвывая свое прошлое, он будет испытывать одни сожаления… Зачеркнуть прошлое все равно невозможно, попытайтесь лучше создать настоящее, которым вы… сможете гордиться. Всякий, кто живет ради других - ради своей страны, ради женщины, ради творчества, ради голодающих или гонимых, - словно по волшебству забывает свою тоску…
      p.text
        img.text_img.right(src="images/text_depil_02.jpg")
        span.title Подзаголовок к абзацу.
        span
          | Мир таков, каков он есть. Трудно предположить, чтобы мир был создан единственно для удовлетворения наших потребностей. Это было бы чудом из чудес. Мир нейтрален. Он не дружествен и не враждебен человеку. Вам внушили, что человек рождается для того, чтобы умереть, и что вы должны всю жизнь терзаться этой мыслью. Чего ради? Смерть - не факт сознания. “Смысл раздумий о смерти в том, что они лишены смысла”, - писал Монтерлан. Смерть близких потрясает нас. А наша собственная? Бояться ее - значит представлять себе и мир, где мы есть, и мир, где нас нет. Эти два образа несовместимы.
          | Вам внушили, что мы живем на краю пропасти…, но даже если мы идем по краю пропасти, ничто не толкает нас вниз.
          | Вам внушили, что старые моральные ценности канули в прошлое*. Это ложь… Я напомню вам для начала несколько древних как мир истин…
      p.text
        img.text_img.left(src="images/text_depil_03.jpg")
        span.title Подзаголовок к абзацу.
        span
          | Мир таков, каков он есть. Трудно предположить, чтобы мир был создан единственно для удовлетворения наших потребностей. Это было бы чудом из чудес. Мир нейтрален. Он не дружествен и не враждебен человеку. Вам внушили, что человек рождается для того, чтобы умереть, и что вы должны всю жизнь терзаться этой мыслью. Чего ради? Смерть - не факт сознания. “Смысл раздумий о смерти в том, что они лишены смысла”, - писал Монтерлан. Смерть близких потрясает нас. А наша собственная? Бояться ее - значит представлять себе и мир, где мы есть, и мир, где нас нет. Эти два образа несовместимы.
          | Вам внушили, что мы живем на краю пропасти…, но даже если мы идем по краю пропасти, ничто не толкает нас вниз.
          | Вам внушили, что мы живем на краю пропасти…, но даже если мы идем по краю пропасти, ничто не толкает нас вниз.
          | Вам внушили, что мы живем на краю пропасти…, но даже если мы идем по краю пропасти, ничто не толкает нас вниз.
          | Вам внушили, что старые моральные ценности канули в прошлое*. Это ложь… Я напомню вам для начала несколько древних как мир истин…
          | Вам внушили, что старые моральные ценности канули в прошлое*. Это ложь… Я напомню вам для начала несколько древних как мир истин…
          | …Нельзя жить для себя. Думая только о себе, человек всегда найдет тысячу причин чувствовать себя несчастным. Никогда он не делал всего того, что хотел и должен был делать, никогда не получал всего того, чего, по его мнению, заслуживал, редко был любим так, как мечтал быть любимым. Без конца пережёвывая свое прошлое, он будет испытывать одни сожаления… Зачеркнуть прошлое все равно невозможно, попытайтесь лучше создать настоящее, которым вы… сможете гордиться. Всякий, кто живет ради других - ради своей страны, ради женщины, ради творчества, ради голодающих или гонимых, - словно по волшебству забывает свою тоску…

      div(price-list list="depilList")
      .art_bottom
        .btn(ng-click="goUp()") Вверх

  #eyelashes.wrapper.resnici_wrap
    h2.title
      | Наращивание ресниц
    .content.clearfix
      | here must be about growing text
  #tattoo.wrapper.tatu_wrap
    h2.title
      | Перманентный макияж
    .content.clearfix
      | here must be about tatu text
  #piercing.wrapper.tatu_wrap
    h2.title
      | Пирсинг
    .content.clearfix
      | here must be about piercing text
  #contact.wrapper.contact_wrap
    h2.title
      | Контакты
    .content.clearfix
      | here must be map and other contact text

