
header.header()
  .hhh(ng-include="'/views/header.html'")
  .title_wrap
    h1
      | Nissodis
    p
      | Мастер профессионал превратит ваши мечты о краcоте в жизнь
    div
      {{test.message}}
    nav.main_nav
      .nav_item(ng-repeat="i in [1,2,3,4,5]")
        {{$idex}} ssssssssssssss
        a(href="" ng-bind="i")

  .content.clearfix




.content_wrap.clearfix
  #about_wrap.wrapper.about_wrap
    .content.clearfix
      | here must be 'about text'
  #depil_wrap.wrapper.depil_wrap
    .content.clearfix
      | here must be about depilation text
  #resnici_wrap.wrapper.resnici_wrap
    .content.clearfix
      | here must be about growing text
  #tatu_wrap.wrapper.tatu_wrap
    .content.clearfix
      | here must be about tatu text
  #contact_wrap.wrapper.contact_wrap
    .content.clearfix
      | here must be map and other contact text

