header.header
  .content.clearfix
    h1 Test text h1
    h2 Test text h1
    h3 Test text h1
.main_wrap
  #about_wrap.wrapper.about_wrap
    .content.clearfix
      | here must be 'about text'
  #depil_wrap.wrapper.depil_wrap
    .content.clearfix
      | here must be about depilation text
  #resnici_wrap.wrapper.resnici_wrap
    .content.clearfix
      | here must be about growing text
  #tatu_wrap.wrapper.tatu_wrap
    .content.clearfix
      | here must be about tatu text
  #contact_wrap.wrapper.contact_wrap
    .content.clearfix
      | here must be map and other contact text

footer.footer
  .content.clearfix
    | here must be footer